<!-- 
<app-hello [name]="firstname"></app-hello>
<app-image></app-image>
<h1> {{ firstname }} {{ lastname}}</h1>
<button (click)="changeName()">
  Change Name to Will Smith
</button>

<pre>
Change Dectection is launch by : 
Events - click, submit, ...
XHR - Fetching data from a remote server
Timers - setTimeout(), setInterval()
</pre>

<p>
  Angular offers another change detection strategy: it’s called OnPush and it can be defined on any component.

With this strategy, the template of the component will only be checked in 2 cases:

one of the inputs of the component changed (to be more accurate, when the reference of one of the inputs changes);
an event handler of the component was triggered.

Attention il y a des prérequis 
</p>
 -->

 <app-race></app-race>